.content {
  width: 40%;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 28px;
    font-weight: 600;
    color: #45a289;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Lucida Grande", sans-serif;
  }

  input {
    width: 100%;
    height: 3rem;
    border: 3px solid #ccc;
    border-radius: 15px;
    padding: 0 1rem;
    font-size: 20px;
    margin-bottom: 1rem;
    font-family: "Lucida Grande", sans-serif;
  }
}
