.card-content {
  flex-direction: column;
  justify-content: right;
  width: 100%;
  height: 100%;

  .title {
    color: #45a289;
    font-size: 20px;
    font-family: "Lucida Grande", sans-serif;
    margin-top: 60px;
    margin-bottom: -10px;
  }

  .subtitle {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: "Lucida Grande", sans-serif;
    margin-bottom: -10px;
  }

  .description {
    color: #a4a4a4;
    font-size: 15px;
    font-family: "Lucida Grande", sans-serif;
    word-break: break-word;
    max-width: 60%;
  }
}
