.pagination-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eae9e9;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      color: #45a289;
      font-size: 30px;
      font-family: "Lucida Grande", sans-serif;
      border-bottom: 3px solid #cfcdcd;
      margin-bottom: 10px;
    }

    .cities-list {
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 350px 350px 350px;
      column-gap: 50px;
      justify-content: center;
    }
  }

  .pagination {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 160px;

    .pagination-button {
      border-radius: 5px;
      font-size: 18px;
      border: #cfcdcd;
      margin-right: 10px;
    }
  }
}
