.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  .title {
    color: #45a289;
    font-size: 30px;
    font-family: "Lucida Grande", sans-serif;
    border-bottom: 3px solid #e3e3e3;
    margin-bottom: 10px;
  }

  .services-list {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 550px 550px;
    column-gap: 1px;
    justify-content: center;
  }
}
